<div class="container">
  <div class="header">
    <p class="title">Criar Livro</p>
  </div>

  <hr />

  <div class="body">
    <form (ngSubmit)="onSubmit()" #bookForm="ngForm">
      <div class="item">
        <label for="name">Name:</label>
        <input
          type="text"
          id="name"
          required
          [(ngModel)]="book.name"
          name="name"
        />
      </div>
      <div class="item">
        <label for="author">Author:</label>
        <select id="author" required [(ngModel)]="book.authorId" name="author">
          <option *ngFor="let author of authors" [value]="author.id">
            {{ author.name }}
          </option>
        </select>
      </div>
      <div class="item">
        <label for="gender">Gender:</label>
        <select id="gender" required [(ngModel)]="book.genderId" name="gender">
          <option *ngFor="let gender of genders" [value]="gender.id">
            {{ gender.name }}
          </option>
        </select>
      </div>
      <div class="footer">
        <button type="submit" [disabled]="!bookForm.form.valid">
          Create Book
        </button>
      </div>
    </form>
  </div>
</div>
