@import "../../../../styles";

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba($color: #000, $alpha: 0.7);
  backdrop-filter: blur(8px);

  section {
    border-radius: 0.5rem;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0.125rem 0.25rem 0.625rem 0.125rem
      rgba($color: #ddd, $alpha: 0.25);

    header {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      gap: 2.5rem;
      height: 1.5rem;
      padding: 2rem 2.5rem;
      width: 45rem;

      .header-title {
        display: flex;
        flex-direction: column;
        font-size: 20px;

        img {
          max-width: 35px;
          max-height: 35px;
        }

        strong {
          color: #000;
          margin: 0;
        }
      }

      .actions {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2.5rem;
      }

      .gray-background {
        background-color: #ddd;
        border-radius: 50%;
        border: 0;
        padding: 3px 8px;
        font-size: 15px;
        cursor: pointer;
      }
    }

    @media (max-width: 900px) {
      header {
        width: 100%;
      }
    }

    main {
      padding: 0.5rem 1.5rem 1.5rem 2.5rem;
      border-bottom: 1px solid #ddd;
      max-width: 49rem;
    }

    footer {
      padding: 1.5rem 3rem;
      background-color: #ddd;
      display: flex;
      justify-content: flex-end;
      gap: 1rem;
    }
  }
}
