::ng-deep app-book-list {
  display: flex;
  justify-content: center;
}

::ng-deep app-book-edit {
  display: flex;
  justify-content: center;
}

::ng-deep app-book-create {
  display: flex;
  justify-content: center;
}

::ng-deep app-author-list {
  display: flex;
  justify-content: center;
}

::ng-deep app-author-edit {
  display: flex;
  justify-content: center;
}

::ng-deep app-author-create {
  display: flex;
  justify-content: center;
}

::ng-deep app-gender-list {
  display: flex;
  justify-content: center;
}

::ng-deep app-gender-edit {
  display: flex;
  justify-content: center;
}

::ng-deep app-gender-create {
  display: flex;
  justify-content: center;
}
