<div class="container">
  <div class="header">
    <p class="title">Livros</p>
    <button class="create" (click)="goToCreate()">Novo Livro</button>
  </div>

  <div *ngIf="books" class="book-container">
    <div class="book-header">
      <div>Nome</div>
      <div>Autor</div>
      <div>Gênero</div>
      <div>Ações</div>
    </div>
    <div class="book-list">
      <div class="none" *ngIf="books.length <= 0">
        Nenhum livro para exibir na listagem.
      </div>
      <hr *ngIf="books.length <= 0" />
      <div>
        <div *ngFor="let book of books" class="book-item">
          <div>{{ book.name }}</div>
          <div>{{ book.author.name }}</div>
          <div>{{ book.gender.name }}</div>
          <div class="actions">
            <img
              src="assets/edit.svg"
              class="edit"
              (click)="goToEdit(book.id)"
            />
            <img
              src="assets/delete.svg"
              class="delete"
              (click)="openModalDelete(book.id)"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="pagination">Página {{ pageNumber }}/{{ totalPages }}</div>
  </div>
</div>

<app-modal
  [showModal]="showModalDelete"
  [title]="'Excluir livro?'"
  (closeModalFunc)="closeModalDelete()"
>
  <p main>
    Tem certeza de que deseja excluir este livro? Esta ação é permanente e não
    pode ser desfeita.
  </p>

  <button footer (click)="closeModalDelete()">Cancelar</button>
  <button footer (click)="handleDelete()">Excluir</button>
</app-modal>
