/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

$blue-1: #166c9d;
$blue-2: #3384b6;
$blue-3: #509cce;
$blue-4: #6db3e7;
$blue-5: #8acbff;
